@import "reset.css";

:root {
    --apricot: #ffcdb2ff;
    --melon: #ffb4a2ff;
    --pastel-pink: #e5989bff;
    --english-lavender: #b5838dff;
    --old-lavender: #6d6875ff;
    /* Card Title*/
    --eerie: #181818;
}


::-webkit-scrollbar {
    /*width: 0;*/
    /*background: transparent;*/
}

html, body {
    max-width: 100%;
    max-height: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#content {
    width: 100%;
    height: 100%;
    background-color: var(--apricot);
}

.mainMenu {
    height: 70px;
    width: 100%;
}

.menuTitle {
    height: 100%;
    width: auto;
    margin-left: 15px;
    float: left;
    color: var(--old-lavender);
    font-family: Baskerville, serif;
    font-size: 2.5em;
    line-height: 75px;
    letter-spacing: 1px;
}

.searchContainer {
    height: 100%;
    width: 30%;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tempSetContainer {
    width: 100px;
    height: 55px;
    border-radius: 10px;
    background-color: var(--english-lavender);
    display: flex;
    text-align: center;
}

.tempBtn {
    height: 55px;
    width: 50%;
    font-size: 1.75em;
    line-height: 55px;
    font-family: Baskerville, serif;
    color: #FFF;
    cursor: pointer;
}

#fahrenheit {
    border-radius: 10px 0 0 10px;
}

#fahrenheit:active {
    background-color: var(--pastel-pink);
}

#celsius {
    border-radius: 0 10px 10px 0;
}

#celsius:active {
    background-color: var(--pastel-pink);

}

.searchInput {
    height: 30px;
    width: 175px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    color: black;
}

.searchBtn {
    height: 25px;
    width: 75px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
    letter-spacing: 1px;
    background-color: var(--english-lavender);
    transition: all 0.3s ease-out;
}

.searchBtn:active {
    background-color: #b46c7b;
}

#cardContainer {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    --webkit-overflow-scrolling: touch;
}

#cardContainer > div {
    flex-shrink: 0;
    width: 340px;
}


.card {
    height: 90%;
    max-height: 600px;
    width: 340px;
    margin: 10px 30px;
    border-radius: 35px;
    background-color: var(--pastel-pink);
    box-shadow: rgba(50, 50, 93, 0.35) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    display: flex;
    flex-direction: column;
}

.xButton {
    height: 35px;
    float: right;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 295px;
    position: relative;
    visibility: hidden;
}

.card:hover .xButton {
    visibility: visible;
}

.cardTitle {
    width: 100%;
    height: 50px;
    margin: -25px 0 0 25px;
    font-family: "Lucida Grande", serif;
    font-size: 2.5em;
    color: var(--old-lavender);
}

.iconContainer {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloudIcon {
    height: 50%;
    width: auto;
}

.tempContainer {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Lucida Grande", serif;
}

.tempDesc {
    font-size: 1.5em;
    color: var(--eerie);
}

.temp {
    font-family: Baskerville, serif;
    font-size: 4.5em;
    color: var(--old-lavender);
}

.feelsContainer {
    display: inline-flex;
    height: 1em;
    width: auto;
    text-wrap: none;
    align-items: center;
}

.feelsContainer > p {
    margin-right: 5px;
}

.feelsLike {
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    color: var(--eerie);
    opacity: 0.6;
    text-align: center;
}

.cardSection {
    height: 1.7em;
    width: 90%;
    margin: 10px auto;
    display: inline-flex;
    justify-content: center;
    background-color: var(--melon);
    text-align: center;
    line-height: 1.7em;
    color: var(--eerie);
    font-family: "Lucida Grande", serif;
    border-radius: 10px;
    opacity: 0.8;
}

.sectionTitle {
    opacity: 0.8;
    justify-self: left;
}

.sectionInfo {
    margin-left: 15px;
    font-size: 1.4em;
    font-family: Baskerville, serif;
}

.alertErr {
    border: 3px solid red;
}

.errMsg {
    font-family: Verdana, sans-serif;
    color: #d50303;
    width: 175px;
}

