@import "reset.css";

:root {
    --prussian-blue: #11314d;
    --ming: #2a616b;
    --keppel: #46ae9f;
    --ocean-green: #70bda1;
    --aero-blue: #cae8d9;
    /* Background Color: */
    --mountain-meadow: #4cbc9d;
}

html, body {
    max-width: 100%;
    max-height: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#content {
    width: 100%;
    height: 100%;
    background-color: var(--mountain-meadow);
}

.mainMenu {
    height: 75px;
    width: 100%;
}

.menuTitle {
    height: 100%;
    width: auto;
    margin-left: 15px;
    float: left;
    color: var(--prussian-blue);
    font-family: Baskerville, serif;
    font-size: 2.5em;
    line-height: 75px;
    letter-spacing: 1px;
}

.searchContainer {
    height: 100%;
    width: 27%;
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

.searchInput {
    height: 30px;
    width: 175px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.searchBtn {
    height: 25px;
    width: 75px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

#cardContainer {
    height: 75%;
    width: 100%;
}

.btnContainer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.navBtn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--aero-blue);
    margin-right: 50px;
    cursor: pointer;
}