@import "reset.css";

:root {
    --prussian-blue: #11314d;
    --ming: #2a616b;
    --keppel: #46ae9f;
    --ocean-green: #70bda1;
    --aero-blue: #cae8d9;
    /* Background Color: */
    --mountain-meadow: #4cbc9d;
    /* Card Title*/
    --eerie: #181818;
}

html, body {
    max-width: 100%;
    max-height: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#content {
    width: 100%;
    height: 100%;
    background-color: var(--mountain-meadow);
}

.mainMenu {
    height: 75px;
    width: 100%;
}

.menuTitle {
    height: 100%;
    width: auto;
    margin-left: 15px;
    float: left;
    color: var(--prussian-blue);
    font-family: Baskerville, serif;
    font-size: 2.5em;
    line-height: 75px;
    letter-spacing: 1px;
}

.searchContainer {
    height: 100%;
    width: 27%;
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    align-items: center;
}

.searchInput {
    height: 30px;
    width: 175px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.searchBtn {
    height: 25px;
    width: 75px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

#cardContainer {
    height: 75%;
    width: 100%;
    padding-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btnContainer {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
}

.navBtn {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--aero-blue);
    margin-right: 50px;
    cursor: pointer;
}

.card {
    height: 100%;
    width: 350px;
    border-radius: 35px;
    background-color: var(--keppel);
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    display: flex;
    flex-direction: column;
}

.cardTitle {
    width: 100%;
    height: 50px;
    margin: 15px 0 0 20px;
    font-family: "Lucida Grande", serif;
    font-size: 2.2em;
    font-weight: bold;
    color: var(--eerie);
}

.iconContainer {
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cloudIcon {
    height: 100%;
    width: auto;
}

.tempContainer {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: "Lucida Grande", serif;
}

.tempDesc {
    font-size: 1.5em;
    color: var(--aero-blue);
}

.temp {
    font-size: 5em;
    color: var(--prussian-blue);
}

.feelsLike {
    padding-top: 10px;
    font-size: 1em;
    color: #FFF;
    opacity: 0.6;
    text-align: center;
}

.cardSection {
    height: 1.7em;
    width: 90%;
    margin: 10px auto;
    display: inline-flex;
    justify-content: center;
    background-color: var(--ocean-green);
    text-align: center;
    line-height: 1.7em;
    color: var(--aero-blue);
    font-family: "Lucida Grande", serif;
    border-radius: 10px;
    opacity: 0.8;
}

.sectionTitle {
    opacity: 0.8;
    justify-self: left;
}

.sectionInfo {
    margin-left: 15px;
    font-weight: bold;
    font-size: 1.3em;

}
